@model IEnumerable<Egeroro.Entity.Concrete.Fleet>

<h1>Filomuz</h1>


<p>
    <a class="btn btn-success btn-outline-dark" asp-action="AddFleet">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortofRegistry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassengerCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrossRegisterTonnage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeadweightTonnage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverallLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainPageImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PortofRegistry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrossRegisterTonnage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeadweightTonnage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OverallLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxSpeed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainPageImage)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="EditFleet" asp-route-id="@item.Id">Edit</a>
                    @*<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                    <a class="btn btn-danger" asp-action="DeleteFleet" asp-route-id="@item.Id">Delete</a>
                    @*<form asp-action="Delete" asp-controller="Product" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <input type="hidden" name="ProductName" value="@item.Name" />
                            <button type="submit" class="btn btn-danger"
                                    onclick="return confirm('@item.Name isimli ürünü silmek istediğinize emin misiniz?');">
                                Sil
                            </button>
                        </form>*@

                </td>
            </tr>
        }
    </tbody>
</table>


